<% if user_signed_in? %>
  <% if Favorite.find_by(user_id: current_user.id, video_id: video.id) %>
  <% favorite = Favorite.find_by(user_id: current_user.id, video_id: video.id) %>
    <%= button_to unlove_path(video.id), method: :delete, id: "favorite-button", remote: true do %>
      <span>
        <%= video.goodjobs_count %>
      </span>
      <span>お気に入り動画</span>
    <% end %>
  <% else %>
    <%= button_to love_path(video.id), id: "favorite-button", remote: true do %>
      <span>
        <%= video.goodjobs_count %>
      </span>
      <a> お気に入りに追加</a>
    <% end %>
  <% end %>
<% else %>
    <span> お気に入りに追加</span>
  <% end %>    
<% end %>