<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to 'Goodeo', videos_path,method: :get, class:"furima-icon" %>
  </div>
</header>
