a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 動画一覧 */
.newtopics-video-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkred;
}

.video-lists{
  display: flex;
  justify-content: space-around;
  overflow: auto;
  background-color: grayscale($color: #000000);
  width: 75vw;
  height: 75vh;
  padding-top: 2vh;
  list-style: none;
}

.video-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  background-color: gray;
  padding-top: 2vh;
  list-style: none;
}

.video-img-content{
  display: flex;
  justify-content: space-around;
  overflow: auto;
  background-color: #FFF;
  width: 95vw;
  height: 75vh;
  padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  list-style: none;
  border-bottom: darkred 2px double;
}

.video-info{
  color:darkred;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.video-name{
  color: darkred;
  padding-bottom: 2vh;
  padding-left: 2vh;
  align-items: flex-start;
  font-size: 30px
}

.video-category{
  font-family: 'Sacramento', cursive;
}

.video-goodjob-counts{
  color: darkred;
  font-family: 'Sacramento', cursive;
  border-radius: 3px darkred;
  background-color: ghostwhite;
  font-size: x-large;
  height: 5vh;
  width: 7vh;
  text-align: center;
}

/*カテゴリ一覧*/
.category-video-contents{
  height: 25vh;
}

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1vh 1vw;
}

.item-contents>.title {
  font-size: ３vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */
